table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin: 0;
}

tr {
	border: 1px solid #eee;
}

th, td {
  border-bottom: 1px solid #eee;
  padding: 10px 24px;
  text-align: left;
}

th {
  background: #f5f5f5;
}